* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-weight: lighter;
}

.marginRight {
  margin-right: 20px;
  text-decoration: none;
}
.marginLeft {
  margin-left: 20px;
}
/* Nav */

.navbar {
  height: 76px;
}
#logo {
  height: 60px;
}

.navbar a {
  color: black;
}

.navbar h2 {
  font-weight:750;
}

.searchboxDiv {
  background-image: url("https://www.zillowstatic.com/bedrock/app/uploads/sites/5/2023/07/1920w_nationalbrand.webp");
  background-size: cover;
  padding-top: 85px;
  padding-bottom: 160px;
}

#searchIcon {
  height: 20px;
  margin-left: 175px;
}

#searchbar {
  border-width: 0px;
  height: 60px;
  width: 400px;
}

#searchdiv {
  border-radius: 5px;
  background-color: white;
  width: 630px;
  margin-left: 750px;
}

.listing img {
  height: 135px;
  width: 260px;
}

/* Main */

.scrollBtn {
  text-align: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  font-weight: bold;
}

.row1 {
  width: 1000px;
  height: 400px;
  margin-left: 550px;
  margin-top: 30px;
}

.listingsRow {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scroll-snap-align: center;
  scrollbar-width: none;
  gap: 20px;
}

.rowauto {
  width: 1000px;
}

#rowToMove h5{
  margin-top: 8px;
}

/* End of row 1 */


/* Finance/Sell/Rent */
.moreRec{
  margin-left: 950px;
  margin-top: 20px;
  color: blue;
  gap: 8px;
  text-align: center;
  display: flex;
}

.financeSellRent{
  align-items: center;
  background-color: #F9F9FB;
  margin-top: 20px;
  padding: 45px 0px;
  text-align: center;
}
.financeSellRent img{
  height: 150px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.fsrBtn{
  border: 1px solid blue;
  background-color: white;
  color: blue;
  margin-top: 20px;
  padding: 5px 5px;
  border-radius: 5px;
  /* position: relative;
  bottom: -25px; */
}

.gray{
  background-color: #F9F9FB;
}

#fsrDivs{
  display: flex;
  gap: 20px;
}

.startnowDivs{
  padding: 10px;
  height: 420px;
  background-color: white;
  width: 320px;
  box-shadow: 1px 1px 3px 0px gray;
}

.spacing{
  margin-top: 10px;
  margin-bottom: 10px;
}

.financeSellRent p{
  margin-bottom: 0px;
}

